.storeContainer {
    width: 100%;
    background: radial-gradient(circle, rgba(26, 41, 59, 1) 50%, rgba(23, 26, 33, 1) 100%);
    min-height: 90vh;
}

.storeColumn {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(59, 99, 144, 1) 50%, rgba(16, 34, 111, 1) 100%);
}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navigation ul a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.navigation ul a:hover {
    background: linear-gradient(90deg, rgba(65, 115, 170, 1) 50%, rgba(16, 34, 111, 0) 100%);
}

.searchBar input {
    box-sizing: border-box;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    padding: 5px;
    background: #316282;
}

.searchBar input:focus {
    outline: none;
}

.searchBar button {
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    background: #5398c2;
}

.searchBar button:hover {
    background: #65b6e6;
}

.storeHero {
    margin-top: 50px;
}

.storeHero h4 {
    color: white;
}

.heroMainBanner {
    display: flex;
    margin-top: 10px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #0d1720;
    padding: 20px;
    width: 100%;
}

.heroContent h2 {
    color: white;
}

.heroContent div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.heroContent div img {
    width: 100%;
}

.heroContent h3 {
    color: white;
}

.heroContent p {
    color: white;
}